body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('mil_background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.header {
    font-size: 36px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 50px;
}

.container-left, .container-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 18%;
    padding: 20px;
    z-index: 2;
    box-sizing: border-box;
    background-color: #a6a690;
    border: 1px solid #ccc;
}

.container-left {
    left: 10%;
}

.container-right {
    right: 10%;
}

.text {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}

.tent-left,
.tent-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.tent-left {
    left: 5%;
}

.tent-right {
    right: 5%;
}

.columns {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    background-color: #a6a688;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: auto; /* Adjust width to fit content */
}

button[disabled], button.username {
    background-color: #a6a688; /* Grayish green for disabled/unavailable usernames */
}

button.username.active {
    background-color: #4CAF50; /* Green when active/selected */
    color: white;
}

button.username {
    margin: 5px;
}