body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('mil_background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.container-left, .container-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25%; /* Adjusted width for better spacing */
    padding: 20px;
    z-index: 2;
    box-sizing: border-box;
    background-color: #bd8d6e;
    border: 1px solid #ccc;
}

.container-left {
    left: 5%;
}

.container-right {
    right: 5%;
}

.text {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}

.columns {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap if there are many usernames */
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    background-color: #a6a688;
    box-sizing: border-box;
}

.columns .username {
    display: flex; /* Ensures the content is properly centered */
    align-items: center; /* Center alignment of text within the username block */
    justify-content: center;
    padding: 10px 20px; /* Sufficient padding for clickable area */
    margin: 5px; /* Space between usernames */
    border: 1px solid #ddd; /* Subtle border for each username */
    font-weight: bold; /* Make the text bold */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for hover effects */
}

.columns .username:hover {
    border-color: #b5b5b5; /* Darker border on hover to enhance visibility */
}

/* Ensure that the active usernames stand out */
.columns .username.active {
    background-color: #4CAF50; /* Green background for active/selected usernames */
    color: white; /* White text for better readability on dark background */
    border-color: #367c39; /* Dark green border to match */
}


button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: auto; /* Adjust width to fit content */
}

button[disabled], button.username {
    background-color: #a6a688; /* Grayish green for disabled/unavailable usernames */
}

button.username.active {
    background-color: #4CAF50; /* Green when active/selected */
    color: white;
}

button.username {
    margin: 5px;
}
