body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#table {
    position: relative;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#chatLog {
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    margin-top: 20px;
    overflow-y: scroll;
}

input, button {
    margin-top: 10px;
}

.news-feed {
    position: absolute;
    top: 10px;
    left: 620px;
    width: 150px;
    height: 600px;
    overflow: hidden;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 5px;
    background-position: 0px 0px;
}
